/01-aula-operadores/nbproject/private/
/01-aula-operadores/build/
/01-aula-operadores/dist/
/exerciciosOperadores/nbproject/private/
/exerciciosOperadores/build/
/exercicios 02/nbproject/private/
/exercicios 02/build/
/exe03/nbproject/private/
