/01-aula-operadores/nbproject/private/
/01-aula-operadores/build/
/01-aula-operadores/dist/
/exerciciosOperadores/nbproject/private/
/exerciciosOperadores/build/
/exercicios 02/nbproject/private/
/exercicios 02/build/
/exe03/nbproject/private/
/exe03/build/
/exe.04/nbproject/private/
/exe.04/build/
/exe.05/nbproject/private/
/exe.05/build/
/exe.06/nbproject/private/
/exe.06/build/
